---
BasedOnStyle: WebKit
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
SortIncludes: false
PointerAlignment: Right
AlignAfterOpenBracket: Align
